@import "./src/assets/sass/variables";

.menuWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding-left: 5px;

  &:hover {
    background: $inputBgc;
  }

  .menu__image {
    width: 14px;
    height: 8px;
    margin-right: 5px;
  }
}