.registryNewsWrapper {
    display: flex;
    width: 1400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 115px;
    text-align: left;
    background-color: #E5E5E5;
    height: 1100px;
}

.registryNews__title {
    width: 100%;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #231F20;

}

.registryBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    height: 754px;
}