@import "../../../../../../../assets/sass/variables";

.documentItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  gap: 80px;

  width: 1170px;
  height: 150px;
  border-bottom: 1px solid $primaryBorder;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: $primaryText;

  .documentItem__category {
    text-align: left;
    width: 170px;
    height: 22px;
  }

  .documentItem__name {
    width: 390px;
    text-align: left;
  }

  .documentItem__date {
    width: 80px;
    height: 22px;
  }

  .documentItem__number {
    width: 55px;
    height: 22px;
    text-align: left;
  }

  .download {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;

    width: 165px;
    height: 44px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $btnBgc;
    cursor: pointer;

    .download__img {
      width: 24px;
      height: 24px;
    }

    .download__block {
      width: 122px;
      height: 44px;
      text-align: left;

      &:hover {
        color: $btnBgHover;
      }

      &:active {
        color: $btnBgActive;
      }

      .download__block__text, .download__block__button {
      }

    }
  }
}




