.buttonWrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #4D4D4F;
  background-color: transparent;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  &:hover {
    background: #01B8D4;
    color: #FFF
  }

  &:active {
    background: #01BEDB;
    color: #FFF
  }
}

.active {
  background: #009CB4;
  color: #FFF
}