@import '../../../../assets/sass/variables';

.personalTitle {
  width: 317px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: $titlePrimary;
  text-align: left;
}