.returnWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 15px;
  width: 114px;
  height: 25px;
  cursor: pointer;

  position: absolute;
  left: 115px;
  top: 40px;

  .return__img {
    width: 24px;
    height: 24px;
  }


  .return__text {
    width: 75px;
    height: 25px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    color: #676A71;
  }
}