@import "./src/assets/sass/variables";

.registryWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 20px;

  width: 370px;
  border-radius: 5px;

  .registry__img {
    width: 370px;
    height: 220px;
    border-radius: 5px;
  }

  .registry__title {
    width: 356px;
    height: 25px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $titlePrimary;
  }

  .registry__timeBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 109px;
    height: 24px;

    .registry__timeBlock__img {
    }

    .registry__timeBlock__time {
      width: 75px;
      height: 19px;

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: $footerTextSec;
    }

  }

  .registry__description {
    width: 362px;
    font-style: normal;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $footerText;
  }
}

