@import "./src/assets/sass/variables";

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 270px;
  height: 56px;
  background: $btnBgc;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $bgPrimary;

  &:hover {
    background: $btnBgHover;
  }

  &:active {
    background: $btnBgActive;
  }
}
