@import "../../../../../assets/sass/variables";

.titleAndFilterWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 80px 0 0 0;
  height: 50px;

  .titleAndFilterWrapper__title {
    font-style: normal;
    font-weight: 700;
    font-size: $titleSize;
    line-height: 49px;
    color: $titlePrimary;
  }

  .titleAndFilterWrapper__images {
    width: 90px;
    display: flex;
    justify-content: space-between;

    .titleAndFilterWrapper__images_item {
      height: 42px;
      width: 42px;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: $primaryBorder;
      }

    }
  }
}