@import "./src/assets/sass/variables";

.dataInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
  width: 370px;
  height: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: $footerTextSec;

  .active {
    height: 19px;
    cursor: pointer;
    color: $btnBgc;
  }

  .dataInput__label {
    height: 19px;
    cursor: pointer;

    &:hover {
      color: $btnBgc;
    }
  }

  .dataInput__input {
    font-family: 'Manrope', sans-serif;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 18px;
    gap: 10px;
    width: 370px;
    height: 56px;
    background: $inputFocus;
    border-radius: 5px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    color: $primaryText;

    &:hover {
      border: 1px solid $inputBorderHover;
      padding-left: 17px;
    }

    &:focus {
      background: $inputFocus;
      border: 1px solid $btnBgc;
    }
  }
}