@import "./src/assets/sass/variables";

.calendarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: $inputBgc;
  cursor: pointer;
  position: relative;

  &:hover {
    background: $primaryBorder;
  }
}