.informationWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;

}

.information__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #231F20;
}

.information__chapterBlock {
    text-align: left;
}

.information__chapter {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #4D4D4F;
}

.information__chapter:first-child {
    margin-top: 0;
}