.profileOpenWrapper {
  position: absolute;
  top: 0;
  left: -1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 100;
  border: solid 1px #F4F3F5;
  border-top: none;
  background-color: #FFF;
  border-radius: 0 0 5px 5px;
  padding-bottom: 20px;

  .profile__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 10px;
    margin-left: 20px;
    text-align: left;
    width: 232px;
    height: 48px;

    .profile__img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background: #F9F9FB;
      }
    }

    .profile__name {
      width: 132px;
      height: 22px;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #4D4D4F;
      cursor: pointer;

      &:hover {
        color: #009CB4;
        text-decoration: underline;
      }
    }

  }
}