@import "./src/assets/sass/variables";

.registryWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 60px;
  border-bottom: 1px solid $primaryBorder;

  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: $primaryText;
  text-align: left;

  .registry__registrationNumbers {
    width: 188px;
  }

  .registry__softwareName {
    width: 233px;
    margin-left: -5px;
  }

  .registry__classCode {
    margin-left: 5px;
    width: 57px;
  }

  .registry__softwareClass {
    margin-left: 10px;
    width: 173px;
  }

  .registry__registrationDate {
    padding-left: 25px;
    width: 108px;
  }

  .registry__websiteAddress {
    padding-left: 25px;
    width: 77px;
    color: $btnBgc;
  }
}
