@import "./src/assets/sass/variables";

.appWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1400px;
  background-color: $bgPrimary;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
}