@import "./src/assets/sass/variables";

.bellWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: $inputBgc;
  cursor: pointer;
  position: relative;

  &:hover {
    background: $primaryBorder;
  }

  &:after {
    content: '4';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 30px;
    top: 0;
    background: $btnBgc;
    border-radius: 50%;
    z-index: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $bgPrimary;
  }
}