@import "./src/assets/sass/variables";

.itemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  gap: 20px;

  width: 430px;
  height: 59px;

  border: 1px solid $primaryBorder;
  border-radius: 5px;
  color: $primaryText;
  cursor: pointer;

  &:hover {
    border: 1px solid $btnBgc;
    color: $btnBgc;
  }

  .text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
  }

}