@import "../../../../../../../../assets/sass/variables";

.passwordWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
  width: 370px;
  height: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: $footerTextSec;

  .active {
    height: 19px;
    cursor: pointer;
    color: $btnBgc;
  }

  .password__label {
    height: 19px;
    cursor: pointer;

    &:hover {
      color: $btnBgc;
    }
  }

}