@import "../../../../../assets/sass/variables";

.titleWrapper {
  width: 267px;
  height: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: $titleSize;
  line-height: 49px;
  color: $titlePrimary;
}