.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
  height: 48px;
  position: relative;
  margin-left: 310px;

  &::after {
    position: absolute;
    content: '';
    z-index: 1;
    width: 2px;
    height: 48px;
    top: 0;
    left: 136px;
    background: #F9F9FB;
  }

}