@import "../../../../../../../assets/sass/variables";

.dataWrapper {
  width: 611px;
  height: 324px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $footerText;
  text-align: left;
  margin-left: 40px;

  .data__answer {
    padding-top: 40px;
  }
}
