@import "./src/assets/sass/variables";

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
  margin-bottom: 16px;

  width: 430px;
  height: 80px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  position: relative;

  .input__label {
    height: 19px;
    cursor: pointer;
    color: $footerText;

    &:hover {
      color: $btnBgc;
    }
  }

  .input__main {
    font-family: 'Manrope', sans-serif;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 18px;
    gap: 10px;
    color: $inputPlaceholder;

    width: 430px;
    height: 56px;


    background: #F6F6F9 !important;
    border-radius: 5px;
    border: none;

  }

  .input__input {
    &:hover {
      border: 1px solid $inputBorderHover;
      padding-left: 17px;
    }

    &:focus {
      background: #F6F6F9;
      border: 1px solid $btnBgc;
      color: #4D4D4F;
    }
  }

  .error__input {
    color: $error;
    border: 1px solid $error !important;
  }

  .check__input {
    color: $inputPlaceholder;
    border: 1px solid $check !important;
  }

  .input__check {
    position: absolute;
    top: 40px;
    left: 440px;
  }

  .input__label {
    height: 19px;
    cursor: pointer;
  }

  .active__label {
    color: $btnBgc;
  }

  .error__label {
    color: $error;
  }

  .check__label {
    color: $check;
  }

  .error__text {
    height: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $error;
  }

}