@import "./src/assets/sass/variables";

.wrapperContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 80px 115px;
  gap: 233px;
  background-color: $bgSecondary;
  width: 1400px;
}