@import "../../assets/sass/variables.scss";

.notFoundWrapper {
    background-color: rgba(229,229,229, 0.8);
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    word-wrap: break-word;
    color: $primaryText;
}